# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
*.csv
*.parquet
*.zip

# ML
mlruns/
mlflow.db
*.pkl
*.joblib
*.pdf

# DVC
.dvc/cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing & Coverage
.pytest_cache/
htmlcov/
.coverage

# Packaging
*.egg-info/

# Docs
docs/_build/